.main {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 20px;
    z-index: 1;
    font-family: var(---font-family-alata);
}

.mobileIcon {
    display: none;
}

.main nav ul a {
    text-decoration: none;
    color: white;
}

.main nav ul a:not(:last-child) {
    margin-right: 20px;
}

@media screen and (max-width:758px) {
    .main{
        /* position: relative; */
    }
    .close {
        display: none;
    }

    .open {
   width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
       height: 100vh;
       background: black;
    }
    .open a {
        margin-top: 10px;
    }

    .mobileIcon {
        display: block;
    }
}