.main {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 20px;
    z-index: 1;
    font-family: var(---font-family-alata);
}

.main nav {
    display: flex;
}

.main nav>a {
    color: white;
    text-decoration: none;
}

.main nav>a:not(:last-child) {
    margin-right: 20px;
}

.main .logo>img {
    width: 130px;
}

@media screen and (max-width:768px) {
    .main nav {
        display: none;
    }
}