.main {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 50px auto;

}

.main>p {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
}


@media screen and (max-width:768px) {
    .main {
        margin: 10px auto;
        display: block;
    }

    .main>.btn {
        display: none;
    }
        .main>p{
            font-size: 30px;
            text-align: center;
        }
}